### R-Data Frames Some Common Operations.
> - Adding a new column.
> - Adding a new row
> - Delete a column 
> - Delete a row
> - Selecting single column
> - slecting a single row
> - Selecting multiple columns
> - Selecting multiple rows
> - Modifying data at a location (Row, Columns known)
> - Logical/Conditional Selection
> - Check to see missing values in dataframe

In [63]:
# Use mtcars built in data

In [2]:
df <- mtcars

In [3]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

> - Adding a new column

In [66]:
# Add a column names Category copy this with Cyl column
# change the content of this column based on its value 4 = small, 6 = medium, 8 = big
df['Category'] <- df$cyl

In [67]:
# Column data modification with ifelse nested loop 
df$Category <- ifelse(df$cyl == '4', 'small', ifelse(df$cyl == '6', 'medium', 'big'))

In [68]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb Category
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    medium
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    medium
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    small
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    medium
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    big
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    medium

> - Adding a new row

In [81]:
# with rbind() we can append a data frame to another data frame as rows.
# New row to be formed as data frame
newrow <- data.frame(mpg = 13.4, cyl = 6, disp = 225, hp = 220, drat = 2.76, wt = 3.45, qsec = 23.45, vs = 5, am = 0,gear = 3, carb = 1, Category = 'medium')

In [91]:
#Specify a row name "NewCar" and bind the newrow dataframe
rbind(df, "NewCar" = newrow)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
NewCar              13.4 6   225.0 220 2.76 3.450 23.45 5  0  3    1
                    Category
Mazda RX4           medium
Mazda RX4 Wag       medium
Datsun 710          small
Hornet 4 Drive      medium
Hornet Sportabout   big
Valiant             medium
Duster 360          big
Merc 240D           small
Merc 230            small
Merc 280            medium
Merc 280C           medium
Merc 450SE          big
Merc 450SL          big
Merc 450SLC         big
Cadillac Fleetwood  big
Lincoln Continental big
Chrysler Imperial   big
Fiat 128            small
Honda Civic         small
Toyota Corolla      small
Toyota Corona       small
Dodge Challenger    big
AMC Javelin         big
Camaro Z28          big
Pontiac Firebird    big
Fiat X1-9           small
Porsche 914-2       small
Lotus Europa        small
Ford Pantera L      big
Ferrari Dino        medium
Maserati Bora       big
Volvo 142E          small
NewCar              medium

#### Selecting a single column from a data frame

In [4]:
#Select column mpg
df$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [5]:
df[['mpg']]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [6]:
df['mpg']

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

#### Selecting multiple columns from df

In [11]:
# select mpg, cyl columns 
df[c('mpg', 'cyl')]

                    mpg  cyl
Mazda RX4           21.0 6
Mazda RX4 Wag       21.0 6
Datsun 710          22.8 4
Hornet 4 Drive      21.4 6
Hornet Sportabout   18.7 8
Valiant             18.1 6
Duster 360          14.3 8
Merc 240D           24.4 4
Merc 230            22.8 4
Merc 280            19.2 6
Merc 280C           17.8 6
Merc 450SE          16.4 8
Merc 450SL          17.3 8
Merc 450SLC         15.2 8
Cadillac Fleetwood  10.4 8
Lincoln Continental 10.4 8
Chrysler Imperial   14.7 8
Fiat 128            32.4 4
Honda Civic         30.4 4
Toyota Corolla      33.9 4
Toyota Corona       21.5 4
Dodge Challenger    15.5 8
AMC Javelin         15.2 8
Camaro Z28          13.3 8
Pontiac Firebird    19.2 8
Fiat X1-9           27.3 4
Porsche 914-2       26.0 4
Lotus Europa        30.4 4
Ford Pantera L      15.8 8
Ferrari Dino        19.7 6
Maserati Bora       15.0 8
Volvo 142E          21.4 4

In [16]:
#Selecing multiple columns using subset function
subset(x = df, select = c('mpg', 'cyl'))

                    mpg  cyl
Mazda RX4           21.0 6
Mazda RX4 Wag       21.0 6
Datsun 710          22.8 4
Hornet 4 Drive      21.4 6
Hornet Sportabout   18.7 8
Valiant             18.1 6
Duster 360          14.3 8
Merc 240D           24.4 4
Merc 230            22.8 4
Merc 280            19.2 6
Merc 280C           17.8 6
Merc 450SE          16.4 8
Merc 450SL          17.3 8
Merc 450SLC         15.2 8
Cadillac Fleetwood  10.4 8
Lincoln Continental 10.4 8
Chrysler Imperial   14.7 8
Fiat 128            32.4 4
Honda Civic         30.4 4
Toyota Corolla      33.9 4
Toyota Corona       21.5 4
Dodge Challenger    15.5 8
AMC Javelin         15.2 8
Camaro Z28          13.3 8
Pontiac Firebird    19.2 8
Fiat X1-9           27.3 4
Porsche 914-2       26.0 4
Lotus Europa        30.4 4
Ford Pantera L      15.8 8
Ferrari Dino        19.7 6
Maserati Bora       15.0 8
Volvo 142E          21.4 4

#### Selecting Single Row from Dataframe

In [19]:
# Select a row with the name of Ferrari Dino
df["Ferrari Dino",] # Notice , after the row name specified . This pulls all the columnbs of that row

             mpg  cyl disp hp  drat wt   qsec vs am gear carb
Ferrari Dino 19.7 6   145  175 3.62 2.77 15.5 0  1  5    6

In [22]:
# Selecting Row  based on the index 
# select the 5th row of the df
df[5,]

                  mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Hornet Sportabout 18.7 8   360  175 3.15 3.44 17.02 0  0  3    2

#### Selecting multiple rows

In [23]:
# Selecting based on index numbers
# select rows from 5th to 7th 
df[5:7,]

                  mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Hornet Sportabout 18.7 8   360  175 3.15 3.44 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.46 20.22 1  0  3    1
Duster 360        14.3 8   360  245 3.21 3.57 15.84 0  0  3    4

In [25]:
# Selecting based on the names of the rows
df[c("Valiant", "Duster 360"),] # pass on vector of names of the rows as rows index and select all coumns ,

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Valiant    18.1 6   225  105 2.76 3.46 20.22 1  0  3    1
Duster 360 14.3 8   360  245 3.21 3.57 15.84 0  0  3    4

#### Logical/Conditional Selection

In [30]:
# Select all the rows where mpg >18 and Less than 22
df[(df$mpg>18 & df$mpg < 22),]

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Toyota Corona     21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Volvo 142E        21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [35]:
# Select wt, gears columns of  Mazda RX4 and valiant
df[c("Mazda RX4","Valiant"), ][,c('wt','gear')] # Notice the , postions

          wt   gear
Mazda RX4 2.62 4
Valiant   3.46 3

In [42]:
# Using the subset function
# # Select wt, gears columns of  Mazda RX4 and valiant
subset(x = df, select = c("wt", "gear"))[c("Mazda RX4","Valiant"),]

          wt   gear
Mazda RX4 2.62 4
Valiant   3.46 3

#### Check to see missing values

#### Check to see missing values in a column

<p> To check if there are missing values in a dataframe, we can use **is.na()** which returns a logical vector with TRUE in the element locations that contain missing values represented by NA. This function **is.na()** can be used on vectors, lists, matrices, and data frames. </p>

In [46]:
# check to see if there are Missing values is a column mpg
is.na(df$mpg) # The output here appears as logical vector of FALSE AND TURE

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [44]:
any(is.na(df$mpg)) # This shows if any thing True

[1] FALSE

In [47]:
table(is.na(df$mpg)) # All 32 rows are False, no True values

FALSE
   32

#### check to see missing values in entire df

In [49]:
any(is.na(df))

[1] FALSE

#### check to see missing values in row(s)

In [50]:
is.na(df['Valiant',])

        mpg   cyl   disp  hp    drat  wt    qsec  vs    am    gear  carb
Valiant FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [51]:
is.na(df[c('Valiant', 'Fiat 128'),])

         mpg   cyl   disp  hp    drat  wt    qsec  vs    am    gear  carb
Valiant  FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Fiat 128 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

#### Deleting/ dropping  a column(s)

In [54]:
# Using subset select colmns by names and 
df = subset(df, select = -c(mpg,vs) )
head(df)

                  cyl disp hp  drat wt    qsec  am gear carb
Mazda RX4         6   160  110 3.90 2.620 16.46 1  4    4
Mazda RX4 Wag     6   160  110 3.90 2.875 17.02 1  4    4
Datsun 710        4   108   93 3.85 2.320 18.61 1  4    1
Hornet 4 Drive    6   258  110 3.08 3.215 19.44 0  3    1
Hornet Sportabout 8   360  175 3.15 3.440 17.02 0  3    2
Valiant           6   225  105 2.76 3.460 20.22 0  3    1

In [76]:
df <- mtcars
# give all the column names to be dropped in the vector drop
drops <- c('gear', 'vs')
df[,!colnames(df) %in% drops]

                    mpg  cyl disp  hp  drat wt    qsec  am carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 1  4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 1  4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 0  1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 0  1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 0  2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 0  2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 0  4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 0  4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 0  1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 1  2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 1  4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 1  6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 1  8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  2

#### Deleting a Row(s)

In [92]:
# Deleting a row with index number 2
head(df[-c(2),])

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360  245 3.21 3.570 15.84 0  0  3    4

In [93]:
# Delete a row named Datsun 710
remove_rows <- c("Datsun 710", "Mazda RX4")
head(df[ !(rownames(df) %in% remove_rows), ])

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2