#### Reading from Keyboard input at a prompt
> - readline() readline reads a line from the terminal (in interactive use).

In [7]:
my.name <- readline('Please enter your name: ')

Please enter your name: sreeni

In [8]:
print(my.name)

[1] "sreeni"

In [9]:
my.age <- readline('Please enter your age :')
my.age <- as.integer(my.age)

Please enter your age :43

In [10]:
print(my.age)

[1] 43

#### Reading form files
> - Reading from .csv files
> - Reading from .txt files
> - Reading from xls files

In [1]:
# first create a csv file from mtcars in the working directory
write.csv(mtcars, file = 'myexample.csv')

In [5]:
# to know the working directory
getwd()

[1] "G:/R-Boot Camp/R-Bootcamp/R-Basics"

In [7]:
list.files(path='G:/R-Boot Camp/R-Bootcamp/R-Basics')

 [1] "myexample.csv"
 [2] "R- Basic Data types.ipynb"
 [3] "R- Data Frames Common Operations.ipynb"
 [4] "R- Handling Input and Output .ipynb"
 [5] "R-Basic arithmetic.R"
 [6] "R-Basic Datatypes.R"
 [7] "R-Built in Functions.ipynb"
 [8] "R-DataFrames.ipynb"
 [9] "R-Matrices Basics.R"
[10] "R-Resources.ipynb"
[11] "R-Standard Functions.ipynb"
[12] "R-Variables.R"
[13] "R-Vector Basics.R"
[14] "R-Vector operations.R"
[15] "R - Factors and Categorical Elements.ipynb"
[16] "R - Matrices .ipynb"

In [8]:
# We could see the myexample.csv is created successfully

> - Reading from .csv files

In [9]:
newdf <- read.csv(file = 'myexample.csv')

In [10]:
head(newdf)

  X                 mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

> - Reading and writing to excel file

In [13]:
# call the readxl file 
library(readxl)

In [16]:
# get the sheet names of excel file
excel_sheets('Sample-Sales-Data.xlsx')

[1] "Sheet1"

In [18]:
# read the excel sheet to a dataframe
df <- read_excel('Sample-Sales-Data.xlsx', sheet = 'Sheet1')

In [19]:
head(df)

  Postcode Sales_Rep_ID Sales_Rep_Name Year Value
1 2121     456          Jane           2011 84219.50
2 2092     789          Ashish         2012 28322.19
3 2128     456          Jane           2013 81879.00
4 2073     123          John           2011 44491.14
5 2134     789          Ashish         2012 71837.72
6 2162     123          John           2013 64531.55

In [23]:
#writing xls files to system
install.packages('xlsx')

Installing package into 'C:/Users/sree/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\sree\AppData\Local\Temp\RtmpgNQNza\downloaded_packages

In [24]:
library(xlsx)