#### Miscellaneous operators

>-  Colon operator. It creates the series of numbers in sequence for a vector.

In [1]:
v <- 2:8
print(v)

[1] 2 3 4 5 6 7 8

In [10]:
seq(5:20)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16

In [9]:
30:50

 [1] 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

> - %in% Operator

In [25]:
# This operator is used to check if something is present in something
a <- c(1,2,3,4,5,6,7)
b <- c(3,6,7, 10,12)
# To check if elements of c are present in a
b %in% a # this returns the logical vector
b[b %in% a]

[1]  TRUE  TRUE  TRUE FALSE FALSE

[1] 3 6 7

In [24]:
intersect(a,b)

[1] 3 6 7

In [32]:
a <- c(2,2,3,4,5,2,3, 5,6, 9)
b <- c(2,3, 7,1,8,5)
b[b %in% a] # common in a, b
b[!(b %in% a)] # Unique in b
a[!(a %in% b)] # Unique in a

[1] 2 3 5

[1] 7 1 8

[1] 4 6 9