#### R- Data Manipulation

[Introduction to dplyr](https://cran.r-project.org/web/packages/dplyr/vignettes/dplyr.html)

In [1]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.1"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [8]:
head(tbl_df(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#### filter()

In [6]:
# Filtering the data
head(filter(iris, Species == 'virginica'))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 6.3          3.3         6.0          2.5         virginica
2 5.8          2.7         5.1          1.9         virginica
3 7.1          3.0         5.9          2.1         virginica
4 6.3          2.9         5.6          1.8         virginica
5 6.5          3.0         5.8          2.2         virginica
6 7.6          3.0         6.6          2.1         virginica

In [9]:
#filtering with multiple conditions
head(filter(iris, Species == 'virginica', Petal.Width <= 2.0))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.8          2.7         5.1          1.9         virginica
2 6.3          2.9         5.6          1.8         virginica
3 4.9          2.5         4.5          1.7         virginica
4 7.3          2.9         6.3          1.8         virginica
5 6.7          2.5         5.8          1.8         virginica
6 6.5          3.2         5.1          2.0         virginica

#### slice()

In [10]:
# Slice allows us to slice the data by rows with thier positions (row numbers)
# Slicing from 5 to 10 
slice(iris, 5:10)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.0          3.6         1.4          0.2         setosa
2 5.4          3.9         1.7          0.4         setosa
3 4.6          3.4         1.4          0.3         setosa
4 5.0          3.4         1.5          0.2         setosa
5 4.4          2.9         1.4          0.2         setosa
6 4.9          3.1         1.5          0.1         setosa

#### arrange()

In [19]:
#Order rows by values of a column ascending order (low to high)
head(arrange(iris, Sepal.Length))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.3          3.0         1.1          0.1         setosa
2 4.4          2.9         1.4          0.2         setosa
3 4.4          3.0         1.3          0.2         setosa
4 4.4          3.2         1.3          0.2         setosa
5 4.5          2.3         1.3          0.3         setosa
6 4.6          3.1         1.5          0.2         setosa

In [22]:
# Order rows by values of a column from desceinding order(high to low)
head(arrange(iris,desc(Sepal.Length)))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 7.9          3.8         6.4          2.0         virginica
2 7.7          3.8         6.7          2.2         virginica
3 7.7          2.6         6.9          2.3         virginica
4 7.7          2.8         6.7          2.0         virginica
5 7.7          3.0         6.1          2.3         virginica
6 7.6          3.0         6.6          2.1         virginica

#### select()

In [39]:
# Select the function allows us to grap columns and create a new datafrme
# select columns Species, Petal.width, Sepal.Width
head(select(iris, Species, Petal.Width, Sepal.Width))

  Species Petal.Width Sepal.Width
1 setosa  0.2         3.5
2 setosa  0.2         3.0
3 setosa  0.2         3.2
4 setosa  0.2         3.1
5 setosa  0.2         3.6
6 setosa  0.4         3.9

In [41]:
# Select the colunn with helper functions 
# Example select the columns that contains a string .Width
head(select(iris, Species, contains(".Width")))

  Species Sepal.Width Petal.Width
1 setosa  3.5         0.2
2 setosa  3.0         0.2
3 setosa  3.2         0.2
4 setosa  3.1         0.2
5 setosa  3.6         0.2
6 setosa  3.9         0.4

#### rename()

In [37]:
# Renaming a column in the dataframe
# rename(dataframename, newcolumnname = existingcolumn name)
head(rename(iris,NewColumn = Species))

  Sepal.Length Sepal.Width Petal.Length Petal.Width NewColumn
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

#### distinct()

In [42]:
# distinct() function removes the duplicate in the dataframe and returns only distinct values
# form the species column, show only distinct values
distinct(select(iris,Species))

  Species
1 setosa
2 versicolor
3 virginica

#### mutate()

In [44]:
#Compute and add one or more columns with mutate()
#append a column ratio that is ratio of  Sepal.Length and Sepal.width
#syntax
#mutate(dataframe, new_column name = (function required))
head(mutate(iris, ratio = Sepal.Length/Sepal.Width))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species ratio
1 5.1          3.5         1.4          0.2         setosa  1.457143
2 4.9          3.0         1.4          0.2         setosa  1.633333
3 4.7          3.2         1.3          0.2         setosa  1.468750
4 4.6          3.1         1.5          0.2         setosa  1.483871
5 5.0          3.6         1.4          0.2         setosa  1.388889
6 5.4          3.9         1.7          0.4         setosa  1.384615

#### transmute()

In [46]:
#Compute one or more new columns. Drop original columns.
head(transmute(iris, sepal = Sepal.Length/Sepal.Width))

  sepal
1 1.457143
2 1.633333
3 1.468750
4 1.483871
5 1.388889
6 1.384615

#### summarise()

In [47]:
#Summarise data into single row of values.
summarise(iris, avg = mean(Sepal.Length))

  avg
1 5.843333

#### pipe operator %>%

In [55]:
# pipe operator %>% gives advantage while writing nested steps.
# dataframe %>% operation1 %>% operator
# get only rows where mpg >10
# select columns cyl, hp, gear carb
# add a newcolumn that is ratio of hp/gear
head(mtcars %>% filter(mpg>10) %>% select(cyl, hp, gear,carb) %>% mutate(ratio = hp/gear))

  cyl hp  gear carb ratio
1 6   110 4    4    27.50000
2 6   110 4    4    27.50000
3 4    93 4    1    23.25000
4 6   110 3    1    36.66667
5 8   175 3    2    58.33333
6 6   105 3    1    35.00000